.scrollToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #6f7c63;
  color: white;
  border: none;
  padding: 10px 12px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  z-index: 999;
  transition: opacity 0.3s ease, transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
    background-color: #5e6a54;
  }
}
