.heroWrapper {
  padding: 35px 15px;
  position: relative;
  background: #faf9f8;
  overflow: hidden;
  @include media(tablet) {
    display: flex;
    align-items: center;
    gap: 27px;
    padding: 93px 50px 101px 50px;
  }
  @include media(desktop) {
    padding: 88px 144px 144px 144px;
    gap: 99px;
    display: flex;
  }
  @include media(desktop-2k) {
    padding: 126px 130px 204px 163px;
    gap: 63px;
  }
}
.imgHero {
  width: 220px;
  height: 282px;
  position: absolute;
  top: 94px;
  right: -45px;
  object-fit: cover;
  @include media(tablet) {
    top: 0;
    right: 0;
    position: relative;
    width: 320px;
    height: 330px;
    flex-shrink: 0;
  }
  @include media(desktop) {
    width: 410px;
    height: 422px;
  }

  @include media(desktop-2k) {
    width: 578px;
    height: 596px;
  }
}
.heroBox {
  display: flex;
  flex-direction: column;
  width: 166px;
  height: 297px;
  justify-content: space-between;
  margin-top: 17px;
  @include media(tablet) {
    width: 519px;
    height: 210px;
    margin-top: 8px;
  }
  @include media(desktop) {
    width: 535px;
    height: 300px;
    margin-top: 8px;
  }
  @include media(desktop-2k) {
    width: 918px;
    height: 420px;
    margin-top: 56px;
  }
}
.heroHeader {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.4px;
  @include media(tablet) {
    font-size: 48px;
    letter-spacing: 7.2px;
  }
  @include media(desktop-2k) {
    font-size: 90px;
    letter-spacing: 13.5px;
  }
}
.textHero {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @include media(tablet) {
    width: 418px;
    font-size: 20px;
  }
  @include media(desktop) {
    width: 535px;
    font-size: 20px;
  }
  @include media(desktop-2k) {
    width: 100%;
    font-size: 36px;
  }
}
.btn {
  color: #fff;
  font-family: "Crimson Text";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3px;
  outline: none;
  border: none;
  border-radius: 59px;
  background: #8e9a82;
  width: 151px;
  height: 32px;
  margin-bottom: 60px;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
  &:hover {
    background: #6f7c63;
    color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  @include media(tablet) {
    font-size: 20px;
    width: 227px;
    height: 43px;
    margin-bottom: 0;
  }
  @include media(desktop) {
    width: 206px;
    height: 55px;
    margin-bottom: 80px;
  }
  @include media(desktop-2k) {
    width: 291px;
    height: 77px;
    margin-bottom: 70px;
  }
}
