.img {
  width: 100%;
  height: 136px;
  object-fit: cover;
  display: block;
  @include media(tablet) {
    height: 275px;
  }
  @include media(desktop) {
    height: 390px;
  }
  @include media(desktop-2k) {
    height: 528px;
  }
}
