.container {
  background: linear-gradient(to right, #f1f1f1 68%, #dbdbdb 32%);
  padding: 78px 150px 78px 150px;
  display: flex;
  gap: 62px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.title {
  color: #000;
  font-family: "Crimson Text";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4.8px;
}
.img {
  width: 439px;
  height: 624px;
  object-fit: cover;
}
